<% Category.roots.each do |cat| %>
  <li><%= link_to cat.title, cat %></li>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<%= render 'subtree', category: @category.children %>


<p>
  <strong>Permalink:</strong>
  <%= @category.permalink %>
</p>

<p>
  <strong>Ancestry:</strong>
  <%= @category.ancestry %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
